body {
    margin: 0;
    font-family: sans-serif;
}


#menu {
    background-color: #000000;
      position:fixed;
    width: 100%;
    
}


#menu ul {
    margin: 0px;
    list-style: none;
}


#menu ul li {
   
    float: left;
}
#menu ul li a {
    display: block;
    padding: 32px 22px;
    color: white;
    text-decoration: none;
}

#free a {
    color: coral;
    background-color:white;
    border: 3px solid coral;
}

#free a:hover{
    color: white;
    background-color:coral;
    border: 3px solid white;
}

#suscribete a{
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 20px;
    display: block;
    margin: 0px auto;
    width: 177px;
}

#premium a{
    background-color:greenyellow;
    color: white;
}

#premium a:hover{
    background-color:white;
    color: greenyellow;
}

#menu ul li a:hover {
    color: #a0c3d2;
}

.centrado {
    width: 1170px;
    margin: 0 auto;
   
}
#nav {
    float: right;
}
#logo {
    float: left;
}

#logo img {
    margin: 19px 20px;
    width: 142px;
    height: auto;
}

.divisor {
    background-color: white;
    height: 36px;
    margin: 25px 17px;
    width: 1px;
}

.activo {
     color: #a0c3d2 !important;
}

#slider {
    height: 480px;
    background: #0a55ff url(../img/imagen_grande.jpg) 0 0 no-repeat;
    background-position: center;
/*    background-size: cover;*/
    background-size: contain;
}

#suscribete strong{
    font-weight: 800;
}

#suscribete {
    text-align: center;
}

#suscribete ul {
    list-style: none;
    padding: 0px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    margin: 35px 10px 20px;
}

#suscribete ul li {
    background-image: url(../img/verde.svg);
    background-repeat: no-repeat;
    padding: 10px 0px 0px 35px;
    background-size: 15px;
    background-position: 9px 8px; 
}

.columnas {
    border: 1px solid silver;
    width: 360px;
    height: 560px;
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
}

#premium h3, #premium p {
    color: greenyellow;
    padding-left: 10px;
}

#premium p+p {
    color: black;
}

#premium span{
    font-size: 15px;
    font-weight: 400;
}

#premium h3+p{
    font-size: 31px;
}



#free h3, #free p{
    color: coral;
    padding-left: 10px;
}
#free h3+p {
    font-size: 31px;
}

#free span{
    font-size: 15px;
    font-weight: 400;
}

#free {
    border-top: 10px solid coral;
    margin-right: 10px;
}

#free ul {
/*    padding-top: 10px;*/
    margin-top: 83px;
}

#free ul li {
    background-image: url(../img/gris.svg);
    color: darkgray;
}

#free ul li:nth-child(1){
    background-image: url(../img/naranja.svg);
    color: black;
}






#premium {
    border-top: 10px solid greenyellow;
    margin-left: 10px;
}
