*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*box-sizing: content-box; Por defecto*/
}

#target {
    margin: 0 auto;
    background-color: aqua;
    width: 500px;
}

#manolo {
    width: 600px;
    height: 200px;
    margin: 0 auto;
    background-color: beige;
}


.rojo {
    background-color: rebeccapurple !important;
}
