
table {
    
}

td {
    border: 1px solid #000;
    
    height: 40px
}


tr:first-child { 
    background-color: red;
    width: 222px;
}

td:nth-child(n+2) { 
    background-color: red;
    width: 146px;
    text-align: center;
}
