
#logo {
    background-color: rgba(0, 0, 0, 0.80);
    height: 80px;
    width: 100%;
    text-align: left;
    position: fixed;

}

#logo img {
    width: 130px;
    height: auto;
    margin-top: 20px;
    margin-left: 33px;
}

body {
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
}

#plan {
    height: 542px;
    background-color: #503750;
    color: white;
}

#plan h2 {
    margin-top: 0px;
    padding-top: 148px;
    margin-bottom: 0px;
}

#plan h1 {
    font-size: 80px;
    margin: 0px;
}

#plan a {

}

#plan p {

}
