
#logo {
    background-color: rgba(0, 0, 0, 0.80);
    height: 80px;
    text-align: left;

}

#logo img {
    width: 130px;
    height: auto;
    margin-top: 20px;
    margin-left: 33px;
}

body {
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
}

#plan {
    height: 542px;
    background-color: #503750;
    color: wheat;
}
