
#logo {
    background-color: rgba(0, 0, 0, 0.80);
    height: 80px;
    text-align: left;

}

#logo img {
    width: 130px;
    height: auto;
}

body {
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
}
