* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff6c5;
    font-family: sans-serif;
}

.centrado {
    margin: 0 auto;
    width: 950px;
}

#cabecera {
    height: 270px;
    background-color: black;
}

#cabeceraInterior {
    /*	background-color: red;*/
    overflow: hidden;
    height: 270px;
    padding-top: 50px;
}

#menuSuperior {
    list-style: none;
    float: right;
    }

#menuSuperior li {
    float: left;
    
    
    
}

#menuSuperior li a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 11px;
    font-weight: 700;
    color: white;
}

#menuInferior {
    list-style: none;
    float: right;
    clear: right;
    margin-top: 160px;

}

#menuInferior li {
    float: left;
}

#menuInferior li a {
    background-color: gray;
    width: 100px;
    display: block;
    padding: 5px 0px 5px 10px;
    text-decoration: none;
    margin-left: 10px;
    font-size: 11px;
    font-weight: 700;
    color: white;
    
}

#cabeceraInterior img {
    float: left;
}
#slider {
    background-color: #fff;
    height: 410px;
    margin-top: 10px;
   
}

#dcha {
    background-color: black;
    width: 333px;
    height: 410px;
    float: right;
}

#izq {
    width: 617px;
    background-color: red;
    height: 410px;
    float: left;
    position: relative;
   
}


#izq p {
    
    background-color: black;
    color: white;
    width: 200px;
    padding: 10px;
    position: absolute;
    top: 20px;
   
}

#flechas {
    position: absolute;
    bottom: 0px;
    height: 40px;
}

/*****************/

#dcha {
    padding: 18px;
    color: white;
    font-family: Helvetica;
}

#dcha a{
    text-decoration: none;
    color: white;
}

#dcha h2 {
    margin-bottom: 12px;
}

#dcha h2 a{
    color: white;
    text-decoration: none;
    font-size: 18px;

}

#dcha span {
    font-family: Georgia;
    font-size: 11px;
    color: #83AE8C;
}

#dcha p a {
    font-family: Helvetica;
    font-size: 11px;
}

#contenido {
    margin: 20px 0px 20px 0px;
    font-family: Helvetica;
    font-size: 13px;
}

a#masInfo {
    color: #62AEB4;
    display: block;
    font-size: 13px;
    width: 113px;
    height: 22px;
    padding-left: 23px;
    background: url(../img/signposting-icon-blue.png) 2px 2px no-repeat;
    padding-top: 3px;

}

