* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: red;
}

.centrado {
    margin: 0 auto;
    background-color: beige;
    width: 960px;
}


#cabecera img{
    float: left;
}

/*********************************/

#cabeceraInterior {
    overflow: hidden;
}



#menuSuperior li {
    float: right;
    list-style: none;
}

#menuSuperior a{
    text-decoration: none;
    display: block;
    padding: 8px 0px 8px 10px;
    margin: 0px 0px 0px 10px;
    width: 123px;
    background-color: aqua;
}

#menuSuperior a:hover {
    background-color: #1dff00;
}



/*************************************/

#menuInferior {
    clear: both;
}



#menuInferior li{
    float: right;
    list-style: none;     
}

#menuInferior a{
    text-decoration: none;
    display: block;
    padding: 8px 0px 8px 10px;
    margin: 0px 0px 0px 10px;
    width: 123px;
    background-color: aqua;
}

#menuInferior a:hover {
    background-color: #1dff00;
}









