* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: red;
}

#cabecera {
    background-color: black;
}
.centrado {
    margin: 0 auto;
    background-color: beige;
    width: 960px;
}

#cabecera img{
    margin-top: 40px;
    float: left;
}


/*********************************/

#cabeceraInterior {
    background-color: black;
    overflow: hidden;
    height: 270px;
    padding-top:
}


#menuSuperior{
    margin-top: 55px;
}

#menuSuperior li {
    float: right;
    list-style: none;
}

#menuSuperior a{
    text-decoration: none;
    display: block;
    padding: 8px 0px 8px 10px;
    margin: 0px 0px 0px 10px;
    width: 123px;
    background-color: aqua;
}

#menuSuperior a:hover {
    background-color: #1dff00;
}



/*************************************/

#menuInferior {
    clear: both;
}



#menuInferior li{
    float: right;
    list-style: none;     
}

#menuInferior a{
    text-decoration: none;
    display: block;
    padding: 8px 0px 8px 10px;
    margin: 0px 0px 0px 10px;
    width: 123px;
    background-color: aqua;
}

#menuInferior a:hover {
    background-color: #1dff00;
}

/****************/

#slider {
    background-color: #fff;
    height: 410px;
    margin-top: 10px;

}

#dcha {
    background-color: black;
    width: 333px;
    height: 410px;
    float: right;
}

#izq {
    width: 617px;
    background-color: red;
    height: 410px;
    float: left;
    position: relative;

}


#izq p {

    background-color: black;
    color: white;
    width: 200px;
    padding: 10px;
    position: absolute;
    top: 20px;

}

#flechas {
    position: absolute;
    bottom: 0px;
    height: 40px;
}






