* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
/*    box-sizing: border-box;*/
}

.centrado {
    margin: 0 auto;
    width: 960px;
}

#imagenGrande {
    padding: 10px;
    position: relative;
}

.lineas {
    border: 8px solid #d1d1d1;
   
}

#claim {
    position: absolute;
    top: 91px;
    left: 129px;
}

.botones {
    color: white;
    text-decoration: none;
    background-color: coral;
    padding: 9px 49px 9px 18px;
    border-radius: 10px;
    background-image: url(../img/flecha_blanca.png);
    background-repeat: no-repeat;
    background-position: 108px;
}

#botonDescubre {
    position: absolute;
    top: 169px;
    left: 498px;
}
#bienvenido {
    background-color: aqua;
    box-sizing: border-box;
/*    position: relative;*/
    
}

#izq {
    width: 48%;
    padding-right: 2%;
    padding-top: 20px;
    float: left;
    background-color: antiquewhite;
   
}

#dcha {
    width: 48%;
    padding-left: 2%;
    padding-top: 20px;
    float: right;
    background-color: aquamarine;
}

#contenidoB{
    position: relative;
    height: 300px;
    background: #ff2 url() 0 0 no-repeat;
}

#contenidoB h2{
    text-align: center;
    padding-bottom: 11px;
    border-bottom: 1px solid white;
}

#imgB {
    position: relative;
    top: 10px;
}

#esperamos {
    position: absolute;
    color: white;
    background-color: coral;
    border-radius: 15px 15px 0px 0px; 
    bottom: 0px;
    left: 180px;
}

#esperamos p{
    padding: 20px;
    font-size: 32px;
}

/************************************/

#contacto{
    padding: 19px;
    overflow: hidden;
}

.rectangulo{
    border: 2px solid #DDDDDD;
    padding: 10px;
    width: 454px;
    overflow: hidden;
}

.rectangulo {
    background-color: #DDDDDD;
}

.rectangulo #trabajo{
    
}

.contenido{
    height: 205px;
}

.contenido img {
    position: relative;
    top: 6px;
}
.contenido p {
    font-size: 27px;
    padding: 21px 21px 5px 21px;
    width: 190px;
}

.contenido a {
    position: relative;
    top: 8px;
    left: 66px;
    padding: 9px 34px 9px 9px;
    text-align: right;
    border-radius: 13px;
    font-size: 14px;
    text-decoration: none;
}

#fabricante a{
    background: white url(../img/flechaN.png) 94% no-repeat;
    color: black;
}

#trabaja a{
    background: #EB6507 url(../img/flecha_blanca.png) 94% no-repeat;
    color: black;
}


#contacto h2 {
    color:#666666;
    font-size: 24px;
}


#fabricante {
    float: left;
}

#fabricante .rectangulo{
    background-color: white;
}

#fabricante .contenido {
    background: #EB6507 url(../img/martillos.jpg) 100% no-repeat;
}

#trabaja .contenido{
    background: white url(../img/chica.jpg) 100% no-repeat;
}


#trabaja{
    float: right
}



