a{
    font-family: sans-serif;
    background-color: antiquewhite;
    text-decoration: none;
    color: chocolate;
    padding: 10px;
    width: 41px;
    height: 90px;
    margin: 20px 10px;
/*    display: inline-block;*/
    
    vertical-align: top;
    
   
}
#otro {
   width: 89px; 
}

p{
    border: 1px solid #000;
}

.boton{
    width: 100px;
    height: 50px;
    display: inline-block;
    vertical-align: bottom;
}
#peque {
    height: 80px;
}

ul {
    background-color: red;
    
}

li {
    background-color: aqua;
/*    width: 100px;*/
/*    list-style-image: url(img/naranja.svg);*/
/*    list-style-position: inside;*/
    list-style: none;
    background-image: url(img/naranja.svg);
    background-repeat: no-repeat;
    background-size: 4.5%;
    background-position: 5px 3px;
    
    height: 30px;
    padding-left: 40px;
    padding-top: 13px;
    padding-bottom: 5px;
}
