@font-face {
	font-family: 'TisaPro';
	src: url('../fonts/TisaPro-Regular.eot');
	src: url('../fonts/TisaPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TisaPro-Regular.woff2') format('woff2'),
		url('../fonts/TisaPro-Regular.woff') format('woff'),
		url('../fonts/TisaPro-Regular.ttf') format('truetype'),
		url('../fonts/TisaPro-Regular.svg#TisaPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{
    font-family: "TisaPro";
}

#menu ul {
    
}

#menu ul li {
    float: left;
}

#munu ul li a {
    background-color: burlywood;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center 2px;
    background-size: 17%;
    color: black;
    display: block;
    
    height: 58px;
    padding: 32px 36px 0px;
}

#enlace1 {
    background-color: url(ruat del icono)
}


