
#contenedor {

    height: 2900px ;
    width: 640px;
    margin: 0 auto;
}

body {
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
    font-size: 13 px;
}




.enlace {
    color: black;
    text-decoration: none;

}

#logo {
    width: 200px;
    height: auto;
    margin-top: 59px;
    margin-bottom: 25px;
}

.titulos {
    font-family: serif;
    text-align: left;
    font-size: 31px;
    margin-left: 20px;

}



#titulo_campanya spam{
    font-size: 20px;
    font-weight: normal;

}

#titulo_campanya p{
    font-size: 16px;
    text-align: left;
    margin: 41px 39px;

}





#prendas div{
    background-color: antiquewhite;
    width: 213px;
    float: left;
}

#prendas p{
    font-family: monospace;
    text-align: left;
    padding: 0 12px;

}

#descubre {
    color: black;
    font-size: 24px;
    font-weight: bold;

}

#prendas {
    overflow: auto;
    margin-bottom: 20px;
}

#spoty {
    margin-top: 65px;
    margin-bottom: 65px;
}

#copi {
    display: inline-block;
    padding: 5px;
    border: 5px solid #000;
    margin-top: 20px;
}
