*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*box-sizing: content-box; Por defecto*/
}

ul {
  list-style: none;
}

#peque{
    display: flex;
    justify-content: space-between;
}

#peque li{
    display: inline-block;
    margin-right: 3px;
    
}

.activo{
    
/*    border: 1px solid #000;*/
    border-bottom: 4px solid #000;
    
}

#grande li{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

/*
#grande li:first-child{
    display: block;
}
*/

#grande li:nth-child(1){
    display: block;
}

.centrado {
    margin: 0 auto;
    width: 631px;
    position:relative;
    
}

#fotosG {
    height: 490px;
        
}
