*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*box-sizing: content-box; Por defecto*/
}

#contiene {
    width: 600px;
    height: 600px;
    margin: 50px 50px 50px 50px;
    background-color: azure;
}

#caja {
    width: 100px;
    height: 100px;
    background-color: aqua;
    animation-name: movimiento;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border-radius: 50px;
    margin: 10px 10px 10px 10px;
}


@keyframes movimiento {
    0% {
        transform: translateX(0px)
                   translateY(0px);
    }
    
    25% {
        transform: translateX(500px)
                   translateY(0px);
    }
        
    50% {
        transform: translateX(500px)
                   translateY(500px);
    }
    
    75% {
        transform: translateX(0px)
                   translateY(500px);
    }
    
    100% {
        transform: translateX(0px)
                   translateY(0px);
    }
}