
#logo {
    background-color: rgba(0, 0, 0, 0.80);
    height: 80px;
    width: 100%;
    text-align: left;
    position: fixed;

}

#logo img {
    width: 130px;
    height: auto;
    margin-top: 20px;
    margin-left: 33px;
}

body {
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
}

#plan {
    height: 542px;
    background-color: #503750;
    color: white;
}

#plan h2 {
    margin-top: 0px;
    padding-top: 148px;
    margin-bottom: 0px;
}

#plan h1 {
    font-size: 80px;
    margin: 30px 0px 50px;
}

#plan h1 + a {
    background-color: #ff4632;
    color: white;
    padding: 25px 90px;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    border-radius: 58px;
}

#plan p {
    margin-top: 50px;
}

#plan p a {
    color: #ff4632;
}

#ventajas img {
    width: 200px;
}

#ventajas .centrado div {
    float: left;
    width: 25%;
    padding: 0 15px;
}

.centrado {
    margin: 0 auto;
    width: 1300px;
}
