
#logo {
    background-color: rgba(0, 0, 0, 0.80);
    height: 80px;
    width: 100%;
    text-align: left;
    position: fixed;

}

#logo img {
    width: 130px;
    height: auto;
    margin-top: 20px;
    margin-left: 33px;
}

body {
    margin: 0px;
    font-family: sans-serif;
    text-align: center;
}

#plan {
    height: 542px;
    background-color: #503750;
    color: white;
}

#plan .centrado h2 {
    margin-top: 0px;
    padding-top: 148px;
    margin: 0px;

}

#premium h2 {
    margin: 0px;
    font-size: 60px;
    color: white;
    padding-top: 110px;

}

#ventajas .centrado h2 {
    margin: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 40px;

}

#naranja h2 {
    margin: 0px;
    font-size: 60px;
    color: white;
    padding-top: 110px;

}

#plan h1 {
    font-size: 80px;
    margin: 30px 0px 50px;
}

#plan h1 + a {
    background-color: #ff4632;
    color: white;
    padding: 25px 90px;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    border-radius: 58px;
}

#plan p {
    margin-top: 50px;
}

#plan p a {
    color: #ff4632;
}

#ventajas img {
    width: 200px;
}

#ventajas .centrado div {
    float: left;
    width: 25%;

}

.centrado {
    margin: 0 auto;
}

#naranja {
    height: 530px;
    background-color: #ff4222;
}

#ventajas {
    height: 530px;
    background-color: #f4f4f4;
}

#preguntas {
    height: 620px;
    background-color: #f4f4f4;
}
#preguntas h2{
    margin: 0px;
    padding-top: 30px;
    font-size: 40px;
}

#preguntas p{
}

#premium {
    background-color: #503750;
    height: 620px;
}

#premium .centrado h2 + p {
    color: white;
    font-family: sans-serif;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

#premium p + a {
    background-color: #ff4632;
    color: white;
    padding: 25px 90px;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    border-radius: 58px;
}

#premium a + p {
    padding-top: 30px;
    color: white;
}

#premium p a {

    color: #ff4632;
    text-decoration: none;
} {

}
