*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color: antiquewhite;
}

#menu {
    background-color: white;
    position: fixed;
    display: block;
}

#menu ul{ 
    
}

#menu li{ 

}

 #menu li a{ 

}   
    
    
    
    

    /*transition:[Propiedad CSS] [Duración] [tipo de animación] [Retardo];*/
   
/*    transition: all 0.5s ease 0s;*/
