*{
    margin: 0;
    padding: 0;
    box-sizing: content-box; /*Por defecto*/
}
body {
    background-color: antiquewhite;
}

#menu {
    z-index: 100;
    background-color: white;
    position: fixed;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid greenyellow;
}

#menu ul{ 
    list-style: none;
}

#menu ul li{ 
    float: left;
    border-right: 1px solid greenyellow;
    width: 120px;
    height: 50px;
}

 #menu ul li a{ 
     transition: all 0.2s ease 0s;
     text-decoration: none;
     display: block;
     padding-top: 50px;
    background-color: #e5b9b9;
    font-family: sans-serif;
    text-transform: uppercase;
    height: 0;
    overflow: hidden; /*Oculta lo que sobra*/
/*
    display: block;
    
    padding: 15px;
*/
}

#menu ul li:last-child{
    float: right;
}

#menu ul li a:hover{
    background-color: white;
    border-right: 1px solid greenyellow;
    height: 20px;
}   
    
#brouse {
    background-image: url(../img/browse.gif);
    background-repeat: no-repeat;
    background-position: center 10px; 
}

#iPhone {
    background-image: url(../img/iphone_app.gif);
    background-repeat: no-repeat;
    background-position: center 10px; 
}

#mac_app {
    background-image: url(../img/mac_app.gif);
    background-repeat: no-repeat;
    background-position: center 10px; 
}

#account {
    background-image: url(../img/account.gif);
    background-repeat: no-repeat;
    background-position: center 10px; 
}



/*******  Menu lateral  **********/


#menu_lateral{
    z-index: 101;
    background-color: aquamarine;
/*    width: 50px;*/
    position: fixed;
    top: 50%;
    left: 24px;
}

#menu_lateral ul {
    list-style: none;
}

#menu_lateral ul li a{
    text-decoration: none;
    background-color: darkcyan;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-top: 10px;
}

#menu_lateral ul li a:hover {
    background-color: hotpink;
}

/******* contenido ************/

.imagen {
    float: left;
    background-image: url(../img/iphone.png);
    background-repeat: no-repeat;
    width: 185px;
    height: 445px;
    padding: 165px 73px 184px 97px;
    background-color: blue;
}

.paginas{
    position: absolute;
    background-color: rebeccapurple;
    width: 100%;
    height: 100%;
    top 0px;
    left: 0px;
}

.centrar_iphone{
    background-color: chocolate;
    width: 750px;
    margin: 0 auto;
}

.texto {
    float: left;
    margin-top: 300px;
    margin-left: 20px;
}


#uno {
    opacity: 0; /*Para ocular*/
}

#dos{
    opacity: 0; /*Para ocular*/
}


