*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{
    font-family: sans-serif;
}

#caja {
    -webkit-transition: all 2s cubic-bezier(0, .8, .97, .17) 1s;
    transition: all 2s cubic-bezier(0, .8, .97, .17) 1s;
    background-color: red;
    width: 250px;
    height: 250px;
    
}

#caja:hover {
  
    background-color: yellow;
       width: 550px;
    height: 550px;
 
    
}


    /*transition:[Propiedad CSS] [Duración] [tipo de animación] [Retardo];*/
   
/*    transition: all 0.5s ease 0s;*/
